*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
*.png
*.jpg
*.obj
*.pth
*.pt
*.ply
*.json
*.mtl
*.pkl
output/
.ipynb_checkpoints/


!assets_img/