*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
assets/
*.png
*.jpg
*.pdf
*.obj
*.pth
*.pt
*.ply
*.json
*.tar
*.mtl
temp/
data/
methods/
vision/
output/
my_392/