*.pyc
.vscode
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
tensorboard_3d
screenshots
assets/
*.png
*.jpg
*.pdf
*.obj
*.pth
*.pt
*.ply
*.gif
*.json
*.tar
*.mtl
*.tar
*.zip
temp/
data/
methods/
vision/
output/
output2/
my_392/